<meta charset="utf-8">
<title>{{ site.name }}</title>

{% if site.description %}
  <meta name="description" content="{{ site.description }}">
{% endif %}

{% if site.author.name %}
  <meta name="author" content="{{ site.author.name }}">
{% endif %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Custom Favicon Link -->
<link rel="shortcut icon" type="image/x-icon" href="{{ '/images/favicon.ico' | relative_url }}">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, 'js ');
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="preload" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css"></noscript>
