---
# Only the main Sass file needs front matter
---

@charset "utf-8";

@import "minimal-mistakes";

/* Force full width expansion across all single pages, archives, and collections */
@media screen and (min-width: 1024px) {
  .initial-content, .archive, .page__inner-wrap {
    max-width: 100% !important;
  }
  
  .layout--single .page, 
  .layout--archive .archive, 
  .layout--talk .page {
    width: 82% !important;
    float: right !important;
    padding-right: 2% !important;
  }
  
  .layout--single .sidebar, 
  .layout--archive .sidebar, 
  .layout--talk .sidebar {
    width: 15% !important;
  }
}
